name: Aiohttp
# If you don't understand the reason for a test failure, ping @Dreamsorcerer or open an issue in aio-libs/aiohttp.

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  test:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Aiohttp regression tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout aiohttp
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        repository: aio-libs/aiohttp
    - name: Checkout llhttp
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        path: vendor/llhttp
    - name: Restore node_modules cache
      uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
      with:
        path: vendor/llhttp/.npm
        key: ubuntu-latest-node-${{ hashFiles('vendor/llhttp/**/package-lock.json') }}
        restore-keys: ubuntu-latest-node-
    - name: Install llhttp dependencies
      run: npm ci --ignore-scripts
      working-directory: vendor/llhttp
    - name: Build llhttp
      run: make
      working-directory: vendor/llhttp
    - name: Setup Python
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: 3.x
        cache: 'pip'
        cache-dependency-path: 'requirements/*.txt'
    - name: Provision the dev env
      run: >-
        PATH="${HOME}/.local/bin:${PATH}"
        make .develop
    - name: Run tests
      env:
        COLOR: yes
      run: >-
        PATH="${HOME}/.local/bin:${PATH}"
        pytest tests/test_http_parser.py tests/test_web_functional.py
    - name: Run dev_mode tests
      env:
        COLOR: yes
      run: >-
        PATH="${HOME}/.local/bin:${PATH}"
        python -X dev -m pytest -m dev_mode tests/test_http_parser.py tests/test_web_functional.py
